{#
/**
 * @file
 * default theme implementation to display a set of clues.
 *
 * Available variables:
 * - content : All of the clues in this set
 * - direction: 'across' or 'down'
 * - attributes : HTML attributes for the containing element.
 */
#}
<div{{ attributes.addClass('crossword-clues') }}>
  <h2 class="clues-heading">{{ direction }}</h2>
  <ul>
    {{ content }}
  </ul>
</div>
