{#
/**
 * @file
 * default theme implementation to display a grid.
 *
 * Available variables:
 * - content : All of the grid rows
 */
#}
<div class="crossword-grid" aria-hidden="true">
  {{ content }}
</div>
