{#
/**
 * @file
 * default theme implementation to display a crossword row.
 *
 * Available variables:
 * - content : The squares contained in this row.
 */
#}
<div class="crossword-row">
  {{ content }}
</div>
